#chat-screen {
    background-color: var(--color-darkgrey);
    height: 1000vh;
}

#chat-screen .status-bar,
#chat-screen .screen-header {
    top: 0;
    background-color: var(--color-darkgrey);
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

#chat-screen .status-bar {
    z-index: 2;
}

#chat-screen .status-header {
    z-index: 1;
}

#chat-header {
    margin-top: 10px;
}

#chat-header__column {
    width: 33%;
}

#chat-header__column:first-child {
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#chat-header__column:nth-child(2) {
    text-align: center;
}

#chat-header__column:last-child {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.main-chat {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Timestamp */
.chat__timestamp {
    background-color: gray;
    color: var(--color-lightgrey);
    text-shadow: 0px 1px 10px var(--color-scarlet);
    box-shadow: 0px 1px 10px var(--color-scarlet);
    opacity: 0.7;
    z-index: -1;
    padding: 7px;
    border-radius: 15px;
    text-align: center;
    width: 180px;
}