/* home friends at display */
#friends-display-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 0px;
    background-color: whitesmoke;
    color: grey;
}

.fa-info-circle:before {
    color: lightgrey;
    margin-right: 5px;
}

.fa-chevron-right {
    color: lightgrey;
    margin-left: 8px;
}

/* .friends-screen {
    padding: 0px 25px;
} */

.friends-screen__channel-header {
    display: flex;
    border: 2px solid pink;
}

.friends-screen__channel {
    margin-top: 30px;
    border-bottom: 1px solid grey;
    width: 100px;
}