.search-icons {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding-bottom: 31px;
    /* border-bottom: var(--border-line); */
}

.search-icons__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.search-icons__icon i {
    font-size: 30px;
}

.search-icons__icon span {
    margin-top: 25px;
}

.search-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recommended-friends {
    /* border: 2px solid pink; */
    border-bottom: var(--border-line);
    border-top: var(--border-line);
    height: 200px;
}

.open-chat {
    height: 200px;
}

.recommended-friends__title,
.open-chat__title {
    font-size: 15px;
    margin: 35px auto;
}

.recommended-friends__content,
.open-chat__content {
    font-size: 16px;
    display: flex;
    justify-content: center;
}