.search-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recommended-friends {
    /* border: 2px solid pink; */
    border-bottom: var(--border-line);
    border-top: var(--border-line);
    height: 200px;
}

.open-chat {
    height: 200px;
}

.recommended-friends__title,
.open-chat__title {
    font-size: 15px;
    margin: 35px auto;
}

.recommended-friends__content,
.open-chat__content {
    font-size: 16px;
    display: flex;
    justify-content: center;
}