.icon-icons {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding-bottom: 31px;
    /* border-bottom: var(--border-line); */
}

.icon-icons__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icon-icons__icon i {
    font-size: 30px;
}

.icon-icons__icon span {
    margin-top: 25px;
}