/* screen-header */
.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    text-shadow: #FC0 1px 0 12px;
}

.screen-header__icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px;
}

.screen-header__icons span {
    padding: 0px 10px;
}