.user-component {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.user-component__avatar,
.user-component__column {
    cursor: pointer;
}

.user-component__column-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.chatuser-component {
    display: flex;
    justify-content: space-between;
    padding: 10px 8px;
    transition: all 250ms ease-in-out;
}

.chatuser-component:hover {
    background-color: var(--color-darkgrey);
}

#user-myself {
    margin-top: 25px;
}

#favorites-toggle,
#friends-toggle {
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    padding-bottom: 6px;
}

.user-component__column {
    display: flex;
    align-items: center;
}

.user-component__column:last-child {
    display: flex;
    align-items: center;
}

.user-component__avatar {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 25px;
}

.user-component__text {
    line-height: 3px;
}

.user-component__title {
    font-weight: 600;
    font-size: 19px;
}

.user-component__subtitle {
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 5px;
    font-size: 14px;
    line-height: 3px;
    color: grey;
}